[AUTHOR]
NAME=Peter Steiner
EMAIL=loxberry@localhost

[PLUGIN]
VERSION=0.5.9
NAME=velux_active_connect
FOLDER=veluxactive
TITLE=VELUX Active Connect
WEBSITE=https://github.com/Niek/ha-velux-active

[AUTOUPDATE]
# Prepared for LoxBerry AutoUpdate. Enable only after publishing release.cfg/prerelease.cfg.
AUTOMATIC_UPDATES=false
RELEASECFG=
PRERELEASECFG=

[SYSTEM]
REBOOT=false
LB_MINIMUM=2.0.0
LB_MAXIMUM=false
ARCHITECTURE=false
CUSTOM_LOGLEVELS=false
INTERFACE=2.0
